.clase1 {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90vh;
}

.clase2 {
  height: 25vh;
  max-width: 90%;
  display: flex;
  align-items: center;
}

.clase2 p {
  height: 20vh;
  width: 50%;
  text-align: justify;
  z-index: 1;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  background-image: linear-gradient(
    288deg,
    rgba(0, 85, 255, 1) 1.5%,
    rgba(4, 56, 115, 1) 91.6%
  );
}

.clase-colors2 p {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  color: #000000;
}
.clase-colors3 p {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}

.clase-colors4 p {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 160, 187, 1) 0%,
    rgba(0, 188, 219, 0.9) 90%
  );
}

.clase-colors5 p {
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  color: black;
}

.clase-colors6 p {
  background-image: linear-gradient(
    97.3deg,
    rgba(25, 50, 70, 0.81) 10.7%,
    rgba(155, 65, 25, 0.72) 39.5%,
    rgba(255, 192, 0, 0.81) 69.7%
  );
}

.clase-colors7 p {
  background-image: linear-gradient(
    180deg,
    rgba(155, 254, 23, 1) 45.5%,
    rgba(36, 243, 8, 1) 97.9%
  );
  color: black;
}

.clase-colors8 p {
  background-image: radial-gradient(
    circle 400px at 6.8% 8.3%,
    rgba(255, 244, 169, 1) 0%,
    rgba(255, 244, 234, 1) 100.2%
  );
  color: black;
}

.clase-colors9 p {
  background-image: linear-gradient(
    129.1deg,
    rgba(243, 199, 83, 1) 26.8%,
    rgba(18, 235, 207, 1) 114.1%
  );
  color: black;
}

.clase-colors10 p {
  background-image: linear-gradient(
    109.6deg,
    rgba(61, 131, 97, 1) 11.2%,
    rgba(28, 103, 88, 1) 91.1%
  );
}

.clase-colors11 p {
  background-image: radial-gradient(
    circle 957px at 8.7% 50.5%,
    rgba(246, 191, 13, 1) 0%,
    rgba(249, 47, 47, 1) 90%
  );
  color: black;
}

.clase-colors12 p {
  background-image: radial-gradient(
    circle 759px at -6.7% 50%,
    rgba(80, 131, 73, 1) 0%,
    rgba(140, 209, 131, 1) 26.2%,
    rgba(178, 231, 170, 1) 50.6%,
    rgba(144, 213, 135, 1) 74.1%,
    rgba(75, 118, 69, 1) 100.3%
  );
}
.clase-colors13 p {
  background-image: radial-gradient(
    circle farthest-corner at 17.1% 22.8%,
    rgba(226, 24, 24, 1) 0%,
    rgba(160, 6, 6, 1) 90%
  );
}

.clase-colors14 p {
  background-image: radial-gradient(
    circle 300px at 8% 89.3%,
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  );
}

.clase-colors15 p {
  background-image: linear-gradient(
    153.4deg,
    rgba(160, 250, 141, 1) 25.4%,
    rgba(253, 217, 182, 1) 59%
  );
  color: black;
}
.clase-colors16 p {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(50, 172, 109, 1) 0%,
    rgba(209, 251, 155, 1) 100.2%
  );
  color: black;
}

.clase2 img {
  width: 45%;
  height: 250px;
  object-fit: cover;
  z-index: 2;
}

.clase3 {
  color: #fff;
  height: 10vh;
  width: 80%;
  border: none;
  background-image: linear-gradient(
    288deg,
    rgba(0, 85, 255, 1) 1.5%,
    rgba(4, 56, 115, 1) 91.6%
  );
  border-radius: 20px;
  margin-top: 2vh;
  font-size: 1.1rem;
}

.clase2-btn {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  color: #000000;
}

.clase3-btn {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}

.clase4-btn {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 160, 187, 1) 0%,
    rgba(0, 188, 219, 0.9) 90%
  );
}

.clase5-btn {
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  color: black;
}

.clase6-btn {
  background-image: linear-gradient(
    97.3deg,
    rgba(25, 50, 70, 0.81) 10.7%,
    rgba(155, 65, 25, 0.72) 39.5%,
    rgba(255, 192, 0, 0.81) 69.7%
  );
}

.clase7-btn {
  background-image: linear-gradient(
    180deg,
    rgba(155, 254, 23, 1) 45.5%,
    rgba(36, 243, 8, 1) 97.9%
  );
  color: black;
}

.clase8-btn {
  background-image: radial-gradient(
    circle 400px at 6.8% 8.3%,
    rgba(255, 244, 169, 1) 0%,
    rgba(255, 244, 234, 1) 100.2%
  );
  color: black;
}

.clase9-btn {
  background-image: linear-gradient(
    129.1deg,
    rgba(243, 199, 83, 1) 26.8%,
    rgba(18, 235, 207, 1) 114.1%
  );
  color: black;
}

.clase10-btn {
  background-image: linear-gradient(
    109.6deg,
    rgba(61, 131, 97, 1) 11.2%,
    rgba(28, 103, 88, 1) 91.1%
  );
}

.clase11-btn {
  background-image: radial-gradient(
    circle 957px at 8.7% 50.5%,
    rgba(246, 191, 13, 1) 0%,
    rgba(249, 47, 47, 1) 90%
  );
  color: black;
}

.clase12-btn {
  background-image: radial-gradient(
    circle 759px at -6.7% 50%,
    rgba(80, 131, 73, 1) 0%,
    rgba(140, 209, 131, 1) 26.2%,
    rgba(178, 231, 170, 1) 50.6%,
    rgba(144, 213, 135, 1) 74.1%,
    rgba(75, 118, 69, 1) 100.3%
  );
}

.clase13-btn {
  background-image: radial-gradient(
    circle farthest-corner at 17.1% 22.8%,
    rgba(226, 24, 24, 1) 0%,
    rgba(160, 6, 6, 1) 90%
  );
}

.clase14-btn {
  background-image: radial-gradient(
    circle 300px at 8% 89.3%,
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  );
}

.clase15-btn {
  background-image: linear-gradient(
    153.4deg,
    rgba(160, 250, 141, 1) 25.4%,
    rgba(253, 217, 182, 1) 59%
  );
  color: black;
}

.clase16-btn {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(50, 172, 109, 1) 0%,
    rgba(209, 251, 155, 1) 100.2%
  );
  color: black;
}
.progreso {
  width: 90%;
  height: 3.5vh;
  margin-bottom: 4vh;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.progreso-div-live {
  background-image: linear-gradient(
    288deg,
    rgba(0, 85, 255, 1) 1.5%,
    rgba(4, 56, 115, 1) 91.6%
  );
  color: #fff;
  position: absolute;
  right: 50px;
  padding: 10px;
  border-radius: 5px;
  width: 40%;
}
.progreso-div-time {
  background-image: linear-gradient(
    288deg,
    rgba(0, 85, 255, 1) 1.5%,
    rgba(4, 56, 115, 1) 91.6%
  );
  color: #fff;
  position: absolute;
  left: 50px;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
}
.reloj {
  height: 15vh;
  z-index: 100;
}
.calavera {
  height: 15vh;
  z-index: 100;
}

.congratulation {
  height: 20vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.congratulation div {
  background-color: white;
  padding: 40px;
  margin-top: -20px;
  z-index: 1;
  margin-bottom: 30vh;
}

.congratulation img {
  width: 80%;
  z-index: 999;
}

.container-correction {
  height: 85vh;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.gif-defeat {
  height: 25vh;
  object-fit: contain;
}
.container-correction p {
  padding: 10px;
  background-color: #fff;
  text-align: justify;
}

.info-correction {
  height: 50vh;
  width: 100%;
  object-fit: contain;
}

.btnPlay {
  background-image: url("../../../../../assets/img/botonplay.png");
  background-size: 100% 95%;
  height: 7vh;
  width: 240px;
  background-color: transparent;
  border: none;
  margin-bottom: 40px;
  margin: 0 auto;
}

.demon {
  width: 100%;
  height: 85vh;
  margin: 0 auto;
}

.demon-gif {
  height: 55%;
  width: 100%;
  object-fit: contain;
  margin-top: -5vh;
}

.demon_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}

.demon_info p {
  background-color: white;
  padding: 10px;
  margin: 5vh auto;
  width: 90%;
}

.contenedor_centrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.demon_codigo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.demon_codigo img {
  width: 100%;
}

.demon_codigo p {
  background-color: #fff;
}

.demon_codigo input {
  width: 90%;
  height: 4vh;
  background-color: rgb(26, 25, 25);
  color: white;
  margin-top: 10px;
}

.dialogo {
  font-size: 1.1rem;
  font-family: sans-serif;
}

.dialogo-one {
  color: #fff;
  background-image: linear-gradient(
    288deg,
    rgba(0, 85, 255, 1) 1.5%,
    rgba(4, 56, 115, 1) 91.6%
  );
}

.dialogo-one-last {
  background-image: linear-gradient(
    288deg,
    rgba(0, 85, 255, 1) 1.5%,
    rgba(4, 56, 115, 1) 91.6%
  );
  font-size: 1.1rem;
  font-family: sans-serif;
  height: 5vh;
  width: 90%;
  color: #fff;
}

.dialogo-two {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.dialogo-two-last {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  font-size: 1.1rem;
  font-family: sans-serif;
  height: 5vh;
  width: 90%;
}

.dialogo-three {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}

.dialogo-three-last {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  font-size: 1.1rem;
  font-family: sans-serif;
  height: 5vh;
  width: 90%;
}

.dialogo-four {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 160, 187, 1) 0%,
    rgba(0, 188, 219, 0.9) 90%
  );
}

.dialogo-four-last {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(0, 160, 187, 1) 0%,
    rgba(0, 188, 219, 0.9) 90%
  );
  font-size: 1.1rem;
  font-family: sans-serif;
  height: 5vh;
  width: 90%;
}

.dialogo-five {
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  color: black;
}

.dialogo-five-last {
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  color: black;
  font-size: 1.1rem;
  font-family: sans-serif;
  height: 5vh;
  width: 90%;
}

.dialogo-six {
  background-image: linear-gradient(
    97.3deg,
    rgba(155, 65, 25, 0.72) 39.5%,
    rgba(155, 65, 25, 0.72) 39.5%,
    rgba(60, 255, 0, 0.81) 69.7%
  );
}

.dialogo-six-last {
  background-image: linear-gradient(
    97.3deg,
    rgba(155, 65, 25, 0.72) 39.5%,
    rgba(155, 65, 25, 0.72) 39.5%,
    rgba(60, 255, 0, 0.81) 69.7%
  );
  color: black;
  font-size: 1.1rem;
  font-family: sans-serif;
  height: 5vh;
  width: 90%;
}

.dialogo-seven {
  background-image: linear-gradient(
    180deg,
    rgba(155, 254, 23, 1) 45.5%,
    rgba(36, 243, 8, 1) 97.9%
  );
  color: black;
}

.dialogo-seven-last {
  color: black;
  font-size: 1.1rem;
  font-family: sans-serif;
  height: 5vh;
  width: 90%;
  background-image: linear-gradient(
    180deg,
    rgba(155, 254, 23, 1) 45.5%,
    rgba(36, 243, 8, 1) 97.9%
  );
}

.dialogo-nine {
  background-image: linear-gradient(
    129.1deg,
    rgba(243, 199, 83, 1) 26.8%,
    rgba(18, 235, 207, 1) 114.1%
  );
  color: black;
}

.dialogo-nine-last {
  font-size: 1.1rem;
  font-family: sans-serif;
  height: 5vh;
  width: 90%;
  background-image: linear-gradient(
    129.1deg,
    rgba(243, 199, 83, 1) 26.8%,
    rgba(18, 235, 207, 1) 114.1%
  );
  color: black;
}

.dialogo-ten {
  background-image: linear-gradient(
    109.6deg,
    rgba(61, 131, 97, 1) 11.2%,
    rgba(28, 103, 88, 1) 91.1%
  );
  color: #fff;
}

.dialogo-ten-last {
  background-image: linear-gradient(
    109.6deg,
    rgba(61, 131, 97, 1) 11.2%,
    rgba(28, 103, 88, 1) 91.1%
  );
  color: #fff;
  font-size: 1.1rem;
  font-family: sans-serif;
  height: 5vh;
  width: 90%;
}

.dialogo-eleven {
  background-image: radial-gradient(
    circle 957px at 8.7% 50.5%,
    rgba(246, 191, 13, 1) 0%,
    rgba(249, 47, 47, 1) 90%
  );
  color: black;
  font-size: 1.1rem;
  font-family: sans-serif;
}

.dialogo-twelve {
  background-image: radial-gradient(
    circle 759px at -6.7% 50%,
    rgba(80, 131, 73, 1) 0%,
    rgba(140, 209, 131, 1) 26.2%,
    rgba(178, 231, 170, 1) 50.6%,
    rgba(144, 213, 135, 1) 74.1%,
    rgba(75, 118, 69, 1) 100.3%
  );
  color: black;
  font-size: 1.1rem;
  font-family: sans-serif;
}

.dialogo-thirteen {
  background-image: radial-gradient(
    circle farthest-corner at 17.1% 22.8%,
    rgba(226, 24, 24, 1) 0%,
    rgba(160, 6, 6, 1) 90%
  );
  color: black;
  font-size: 1.1rem;
  font-family: sans-serif;
}

.dialogo-fouteen {
  background-image: radial-gradient(
    circle 300px at 8% 89.3%,
    rgba(20, 157, 208, 1) 0%,
    rgba(140, 63, 226, 1) 90%
  );
  color: black;
  font-size: 1.1rem;
  font-family: sans-serif;
}

.contenedor-death {
  min-height: 100vh;
  margin-top: -10vh;
  display: flex;
  align-items: end;
  padding: 20px;
}

.contenedor-death-mensage {
  height: 25vh;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10vh;
}

.contenedor-death-mensage img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.contenedor-death-mensage {
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
}

.contenedor-tiempo {
  background-color: #020202;
  padding: 20px;
  border-radius: 15px;
}
